<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button type="submit" onclick="callme()">Track Me</button>
    <h2 id="loc"></h2>
  </body>
  <script>
    function callme() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        document.getElementById("loc").innerHTML =
          "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      document.getElementById("loc").innerHTML =
        "Latitude: " +
        position.coords.latitude +
        "<br>Longitude: " +
        position.coords.longitude;

        fetch("http://localhost:3000/snooper", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            latitude: position.coords.latitude,
            longitude: position.coords.longitude,
          }),
        })
          .then((res) => res.json())
          .then((data) => console.log(data));
    }
  </script>
</html>
